table{

    margin: auto;
    width: 500px;
    

    thead{

          tr{

        text-align: center;

        }
    }

    tbody{

        tr{

      text-align: center;


      }
  }

  
}

.total-price{
    display: flex;
    justify-content: flex-end;
}