.checkout-item-row{
    .checkout-img{
        img{
            width: 150px;
            height: auto;
        }
    }

    .checkout-quantity{


        .incDec{
            cursor: pointer;
            font-size: 25px;
            padding: 10px;
        }
    }

    .Removebutton{
        cursor: pointer;
        font-size: 25px;

        background-color: rgb(231, 129, 129);
    }
}