.authentication-container{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: center;
   
    .sign-up-container, .sign-in-container{
        flex: 1 1 60%;
        max-width: 400px;
   }

}

.sign-up-container{
    margin-bottom: 50px;
}
